@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
header {
  position: relative;
  min-height: 760px;
  width: 100%;
  overflow: hidden;
  background: url(../img/GroupImage1.jpg) no-repeat;
  background-position: center;
  background-size: cover !important;
  -webkit-background-size: cover !important; }

div#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/Top-Image-Gradient.png);
  background-size: cover;
  z-index: 1;
  width: 100%;
  min-height: 760px; }

div#text-overlay {
  width: 100%;
  position: absolute;
  z-index: 10; }

/* Navigation Bar */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

#nav-wrap {
  font: 14px "Open Sans", sans-serif;
  font-weight: 300;
  width: 50%;
  text-transform: uppercase;
  margin: 0 auto;
  z-index: 100;
  float: left; }

#nav-wrap > a.mobile-btn {
  display: none; }

ul#nav {
  min-height: 48px;
  width: 100%;
  text-align: center;
  margin-left: 15px;
  margin-top: 20px; }

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
  margin: 0px 10px; }

ul#nav li a {
  display: inline-block;
  padding-top: 8px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }

ul#nav li a:active {
  background-color: transparent !important; }

ul#nav li a:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid #fff; }

#nav ul li a.middle-logo {
  background: url(../img/JS_Logo.png);
  background-repeat: no-repeat;
  display: block;
  padding: 0; }

div#logo-wrap {
  float: left;
  margin-top: 15px; }

div#membership {
  float: left;
  color: #fff;
  font: 14px "Open Sans", sans-serif;
  font-weight: 300;
  width: 45%;
  text-align: center;
  height: 68px; }

div.member {
  margin-top: 25px; }
  div.member a {
    text-decoration: none;
    color: #fff; }
  div.member a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px; }

div.row-banner {
  float: left;
  font: "Open Sans", sans-serif;
  display: inline-block;
  width: 50%;
  margin-top: 18%;
  margin-left: 10%;
  color: #fff; }
  div.row-banner div.lineOne {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-size: 1.25em;
    text-transform: uppercase; }
  div.row-banner h1.lineTwo {
    font-weight: bold;
    font-size: 5em;
    margin: 0 0 !important; }
  div.row-banner h2.lineThree {
    font-weight: bold;
    font-size: 3.5em;
    margin: 0 0 !important; }

div.learn {
  margin-left: 5%;
  float: left;
  display: inline-block;
  margin-top: 25%; }

a.learnButton {
  font-size: 1.5em;
  font: "Open Sans", sans-serif;
  width: 100px;
  border: 1px solid #fff;
  padding: 15px 30px;
  background-color: #fff;
  text-decoration: none;
  color: #000; }

section {
  width: 100%;
  z-index: 20;
  position: relative;
  background-color: #fff; }

.languages {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  text-align: center; }
  .languages div.flex1, .languages div.flex2, .languages div.flex3, .languages div.flex4, .languages div.flex5, .languages div.flex6 {
    height: 150px;
    flex: 1;
    -webkit-flex: 1;
    margin: 10px 0; }

/*ABOUT*/
#about {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  width: 100%; }
  #about div.about-container {
    height: 525px;
    flex: 1;
    -webkit-flex: 1;
    width: 50%;
    background-color: #6C4B9C; }
    #about div.about-container .about-content {
      width: 70%;
      margin: 50px auto; }
    #about div.about-container h3.about-title {
      color: #FFD018;
      font-size: 1.625em;
      font-weight: 400; }
    #about div.about-container div.about-inner {
      color: #FFD018;
      font-size: 1.5em;
      font-weight: 300; }
  #about div.team-container {
    height: 525px;
    flex: 1;
    -webkit-flex: 1;
    width: 50%;
    background-color: #FFD018; }
    #about div.team-container .team-content {
      width: 70%;
      margin: 50px auto; }
    #about div.team-container h3.team-title {
      color: #6C4B9C;
      font-size: 1.625em;
      font-weight: 400; }
    #about div.team-container div.team-inner {
      color: #6C4B9C;
      font-size: 1.5em;
      font-weight: 300; }

/*COURSES AND EVENTS*/
#courses {
  font-family: "Open Sans", sans-serif;
  width: 100%; }
  #courses div.courses-container {
    width: 80%;
    margin: 40px auto; }
  #courses h2.courses-title {
    font-weight: 400;
    font-size: 2em; }
  #courses hr {
    color: #6C4B9C;
    margin: 10px 0; }
  #courses div.mid {
    margin: 25px 0;
    height: 260px; }
  #courses img.mid-image {
    height: 200px;
    width: 300px;
    background-color: #6C4B9C;
    float: left;
    margin-top: 2%; }
  #courses h3.mid-title {
    width: 60%;
    float: left;
    margin-left: 5%; }
  #courses div.mid-content {
    width: 60%;
    float: left;
    margin-left: 5%; }
  #courses div.mid-button {
    background-color: #30184A;
    margin-top: 3%;
    margin-left: 5%;
    float: left;
    padding: 20px 30px; }
  #courses div.mid-button a {
    color: #fff;
    text-decoration: none; }
