@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
header {
  position: relative;
  min-height: 760px;
  width: 100%;
  overflow: hidden;
  background: url(../img/GroupImage1.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important; }

div#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/Top-Image-Gradient.png);
  background-size: cover;
  opacity: 0.7;
  z-index: 1;
  width: 100%;
  min-height: 760px; }

div#text-overlay {
  position: absolute;
  z-index: 10; }

/* Navigation Bar */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

#nav-wrap {
  font: 14px "Open Sans", sans-serif;
  font-weight: 300;
  width: 50%;
  text-transform: uppercase;
  margin: 0 auto;
  z-index: 100;
  float: left; }

#nav-wrap > a.mobile-btn {
  display: none; }

ul#nav {
  min-height: 48px;
  width: 100%;
  text-align: center;
  margin-left: 15px;
  margin-top: 20px; }

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
  margin: 0px 10px; }

ul#nav li a {
  display: inline-block;
  padding-top: 8px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }

ul#nav li a:active {
  background-color: transparent !important; }

ul#nav li a:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid #fff; }

#nav ul li a.middle-logo {
  background: url(../img/JS_Logo.png);
  background-repeat: no-repeat;
  display: block;
  padding: 0; }

div#logo-wrap {
  float: left;
  margin-left: 15px;
  margin-top: 15px; }

div#membership {
  float: left;
  color: #fff;
  font: 14px "Open Sans", sans-serif;
  font-weight: 300;
  width: 30%;
  text-align: center;
  height: 68px;
  margin-left: 5%; }

div.member {
  margin-top: 25px; }
  div.member a {
    text-decoration: none;
    color: #fff; }
  div.member a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px; }

div.row-banner {
  float: left;
  font: "Open Sans", sans-serif;
  display: inline-block;
  width: 50%;
  margin-top: 18%;
  margin-left: 10%;
  color: #fff;
  text-transform: uppercase; }
  div.row-banner div.lineOne {
    font-weight: 300; }
